body {
    background-color: #f1f1f1;
    font-family: "Times New Roman", Times, serif;
}

a {
    color: #aaaaaa;
    text-decoration: none;
}

#wps-login-sms {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    left: 50%;
    margin: -15% 0 0 -25%;
    padding: 16px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
}

#powerby {
    bottom: -21px;
    color: #b8b8b8;
    font-size: 10px;
    left: 0;
    position: absolute;
}